body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 900px;
    width: 100%;
    text-align: center;
}

.search-container input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sort-options {
    margin: 15px 0;
}

.sort-options button {
    padding: 8px 16px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #1f80e0;
    border: none;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sort-options button:hover {
    background-color: #f39c12;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
}

.movie-card {
    background-color: #1c1c1c;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ddd;
    transition: transform 0.3s;
}

.movie-card:hover {
    transform: scale(1.05);
}

.movie-card img {
    width: 100%;
    border-radius: 8px;
}

.modal {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #333;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    color: white;
    position: relative;
}

.hidden {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: #f39c12;
}

.loading {
    font-size: 20px;
    color: #f39c12;
    margin: 20px 0;
}

.watchlist {
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
}

.watchlist h2 {
    margin-top: 0;
}

button {
    background-color: #f39c12;
    color: white;
    padding: 8px 16px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e67e22;
}

.movie-details-container {
  margin: 20px 150px;
  background-color: #1e1e1f;
  padding: 20px 100px;
  border-radius: 8px;
}

#movieDetails img {
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  margin-bottom: 20px;
}

#movieDetails h2 {
  font-size: 2em;
  color: #EC8305;
  margin-bottom: 10px;
}